<div class="imessage">
	<div class="imessage-image-container"><%= image_tag 'header.png' %></div>
	<div class="text-center mb-3 imessage-title">
		<%= image_tag 'avatar.png', width: 14 %>
		XXXX
	</div>
	<div class="imessage-user-info">
		<%= image_tag 'avatar.png'%>
		<div class="ms-2">Jimmy Secretan XXX</div>
	</div>
	<p class="from-them">It was loud. We just laid there and said "is this an earthquake? I think this is an earthquake."</p>
	<p class="from-me">Like is this an earthquake just go back to sleep</p>
	<div class="imessage-user-info">
		<%= image_tag 'avatar.png'%>
		<div class="ms-2">Jimmy Secretan XXX</div>
	</div>
	<p class="from-them">It's more like "this is an earthquake. Check the Internet. Yup. Earthquake. This is the size. This is the epicenter. Check social media. Make sure the East Coast knows I'm alive. Okay, try and go back to sleep."</p>
	<p class="from-me emoji">👍🏻</p>
	<p class="from-me">Glad you're safe</p>
	<p class="from-me">Time to write some code where I left off</p>
	<div class="imessage-user-info">
		<%= image_tag 'avatar.png'%>
		<div class="ms-2">Jimmy Secretan XXX</div>
	</div>
	<p class="from-them">Previously on As the Code Turns</p>
	<p class="from-me">Elsewhere, Biff has plans to take down the entire Caspian family with his secret about how Roger Caspian used to be...REGINA Caspian!</p>
	<div class="imessage-user-info">
		<%= image_tag 'avatar.png'%>
		<div class="ms-2">Jimmy Secretan XXX</div>
	</div>
	<p class="from-them">Haha</p>
	<p class="from-me">And the budding romance between teens Erika and Johnny bloom</p>
	<p class="from-me">Back at the hospital, cuz who doesn't hang out at hospitals in their free time, amirite...</p>
	<div class="imessage-user-info">
		<%= image_tag 'avatar.png'%>
		<div class="ms-2">Jimmy Secretan XXX</div>
	</div>
	<p class="from-them">Riiiiight</p>
	<p class="from-me">Gotta run, have a safe day in the sun ☀️</p>
	<div class="imessage-user-info">
		<%= image_tag 'avatar.png'%>
		<div class="ms-2">Jimmy Secretan XXX</div>
	</div>
	<p class="from-them">Haha, talk to you later.</p>
	<p class="from-me">Heiress Lexus von Doberman - cuz all towns have an heiress - takes an interest in her new pool man, Rodrigo...</p>
	<p class="from-me">Lexus's time sunbathing by the pool is interrupted by Biff who has some juicy information on the Caspian family...</p>
	<p class="from-me">The Caspians are the largest juice bar magnate in the tri-state area and Lexus plans to take them down, for no reason in particular, just because it&rsquo;s good daytime drama...</p>
	<p class="from-me">Incidentally, Lexus's daughter is Erika. And Erika's love interest Johnny? Johnny Caspian. Cuz no one saw that little plot twist coming...</p>
	<p class="from-me">Back at the hospital, Diego sneaks out of Cyntheeah's room with a copy of her chart under his arm, right in front of the nurse's station, but no one notices cuz all the nurses are gossiping. Again, worst. Hospital. Ever.</p>
	<p class="from-me">
		Diego sneaks around the corner to the vending machine, looks in the chart again, with one eyebrow raised and a smirk, and scheming music playing in the background...</p>
	<p class="from-me">[bad music]...[Commercial]</p>
	<div class="imessage-user-info">
		<%= image_tag 'avatar.png'%>
		<div class="ms-2">Jimmy Secretan XXX</div>
	</div>
	<p class="from-them">This is awesome</p>
	<p class="from-me">Brock returns to his home which is amazingly well-lit with track lighting in every room. His maid Juanita tells him that &ldquo;Ze strange man come by ask question about se&ntilde;or Brock&rdquo;. Brock makes a call and plans a meeting...</p>
	<p class="from-me">Meanwhile at the beach cabana, Erika, Johnny and friends makes plans for a weekend getaway cruise as all 17-year-olds do...</p>
	<p class="from-me">Incidentally, last week Erika and Johnny were 10 years-old, but kids don't age fast enough for daytime drama, so now they are 17! Overnight! Like magic!</p>
	<form method="post" class="mt-2 float-end">
		<textarea rows="4">
		</textarea>
		<button type="submit"><i class="bi bi-arrow-up-short"></i></button>
	</form>
	<div class="imessage-actions">
		<%= link_to 'javascript:void(0)', class:'imessage-actions-link', path: "" do %>
			<i class="bi bi-house-door-fill"></i>
		<% end %>
		<%= link_to 'javascript:void(0)', class:'imessage-actions-link', path: "" do %>
			<i class="bi bi-send"></i>
		<% end %>
		<%= link_to 'javascript:void(0)', class:'imessage-actions-link', path: "" do %>
			<i class="bi bi-plus-square"></i>
		<% end %>
		<%= link_to 'javascript:void(0)', class:'imessage-actions-link', path: "" do %>
			<i class="bi bi-person-circle"></i>
		<% end %>
	</div>
</div>
